body {
    margin: 0px;
    font-family: "Times New Roman", Georgia, Serif;

}
.navigation-wrapper {
    height: 22px;
    width: 100%;
    padding: 16px 8px;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 2px -2px gray;
}
.link {
    padding: 8px 16px;
    width: auto;
    border: none;
    outline: 0;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
}
.link:hover {
    padding: 8px 16px;
    width: auto;
    border: none;
    outline: 0;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    background-color: lightgrey;
}
.header-pic {
    background-image: url("./IMGS/hamburger.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    align-items: center;
}